@font-face {
    font-family: 'CustomLightFont';
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/300-light.woff2") format("opentype");
}

@font-face {
    font-family: 'CustomRegularFont';
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/400-regular.woff2") format("opentype");
}

@font-face {
    font-family: 'CustomMediumFont';
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/500-medium.woff2") format("opentype");
}

@font-face {
    font-family: 'CustomBoldFont';
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/600-bold.woff2") format("opentype");
}

body {
    margin: 0;
    font-family: 'CustomMediumFont';
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: ghostwhite;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: burlywood;

    div.brand {
        width: 100%;
        height: 100%;
        margin: 20px;

        p {
            width: 100%;
            padding-left: 20px;
        }
    }

    div.nav-list {
        display: flex;
        justify-content: flex-end;
        width: 80vw;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            width: auto;
            list-style: none;
            margin: 0;
    
            li {
                display: flex;
                justify-content: center;
                padding: 20px;
                width: 100%;
                white-space: nowrap;
        
                a {
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
}

header {
    height: 100vh;
    background-color: ghostwhite;
}



